
.header {


flex-direction: row;
}



.logo {

background-color: rgba(0, 0, 0, 0.656);
background-size: contain;
background-size: auto;


}

.nav {

flex-direction:row;
    text-align: right;
    color: black;
  font-family: 'Courier New', Courier, monospace;    
}


a:visited{
    
    color: white;
}

a{

color: white;

}

.video

{
display: flex;
justify-content: center;

}


html { background: url(./images/pikes.jpg) 
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icons {

padding: 20px;
align-items: center;
flex-direction: row;
align-content: center;
align-items: center;
text-align: center;
}

.about {


  color: white;
background-blend-mode: color-burn;
text-align: center;
flex: content;
background-color: rgba(0, 0, 0, 0.758);
}

.footerlogo {

 justify-content: right;
 flex: content;
 text-align: center;
}

.formtitle {


  margin-top: 20%;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.44);
}

.form {

  color: white;
  background-color: rgba(0, 0, 0, 0.44);
  text-align: center;
}

.Showtitle {

  color: white;
  background-color: rgba(0, 0, 0, 0.582);
  text-align: center;
}

.shows {

  color: white;
  background-color: rgba(0, 0, 0, 0.582);
  text-align: center;
}